<div class="row mt-3">
  @if (wishes.length === 0) {
  <p class="no-items">There are no wishes to display</p>
  } @else {
  <ul class="wish-list">
    <li
      *ngFor="let item of wishes; trackBy: trackByWish"
      class="d-flex justify-content-between"
    >
      <div class="form-check">
        <label class="form-check-label" [ngClass]="getItemClasses(item)">
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplete"
            (change)="toggleItem(item)"
          />
          {{ item.wishText }}
        </label>
      </div>
      <div>
        <button
          type="button"
          class="btn-close"
          (click)="removeWish(item)"
        ></button>
      </div>
    </li>
  </ul>
  }
</div>
